
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="body-background">

    <center>
        <img src="~/Imagens/nba.png" align="middle" width="600" height="300" />
    </center>
    <center>
        @Html.ActionLink("Entrar na loja", "Loja", "Home", null, htmlAttributes: new { @class = "btn btn-default" })
    </center>


</body>
</html>

